<div class="main">
  <div class="aboutMe">
    <img src="../../assets/img/06070013.JPG" />
    <h2>Hi! My name is Adela and I love cykać fotki</h2>
    <p class="aboutMeText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id arcu eu
      lacus elementum congue non convallis lorem. Nulla vitae viverra erat.
      Aliquam sed nunc est. Nam pellentesque ut mi tristique rhoncus. Nam mauris
      urna, elementum sed odio quis, gravida ornare enim. Ut tristique libero et
      dictum pharetra. Vivamus nec purus a nisl tincidunt auctor sit amet quis
      mauris. Maecenas tempor molestie semper. Curabitur dapibus nulla eu libero
      finibus, a maximus felis congue. Sed et fringilla est, sed tempus massa.
      Nullam non nulla id dui maximus gravida at at nisl. Aliquam laoreet diam
      mauris, vel viverra justo tempor ac. Duis ac nulla quis sapien tristique
      viverra.
    </p>
  </div>
</div>
