<div class="main">
  <div class="leftSide">
    <h1>
      ANALOG <br />
      PHOTOGRAPHY
    </h1>
    <h2>by Adela Jaworowska</h2>
  </div>

  <div class="galery">
    <img src="./assets/img/{{ images[imageIndex] }}" />
    <img src="./assets/img/{{ images[imageIndex + 1] }}" />
    <img src="./assets/img/{{ images[imageIndex + 2] }}" />
    <img src="./assets/img/{{ images[imageIndex + 3] }}" />
    <img src="./assets/img/{{ images[imageIndex + 4] }}" />
    <img src="./assets/img/{{ images[imageIndex + 5] }}" />
    <img src="./assets/img/{{ images[imageIndex + 6] }}" />
    <img src="./assets/img/{{ images[imageIndex + 7] }}" />
    <img src="./assets/img/{{ images[imageIndex + 8] }}" />
  </div>
</div>

<footer>
  <p>All rights reserved</p>
</footer>
