/* main page */

footer {
  background-color: var(--main-green);
  color: var(--light-beige);
  padding: 0.5rem;
}

img {
  /* width: 100%; */
  object-fit: cover;
  width: 20rem;
  height: 20rem;
}

.main {
  display: flex;
  flex-direction: row;
  background-color: var(--light-beige);
  height: 100%;
  margin: 0;
}

.leftSide {
  background-color: var(--main-green);
  flex: 1;
  color: var(--light-beige);
}

.galery {
  flex: 2;
  display: grid;
  margin: 5rem;

  /*responsive grid*/
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 0.5rem;
  justify-items: center;
}
