<div class="main">
  <div class="leftSide">
    <p>
      Analog photography <br />
      by Adela Jaworowska
    </p>
  </div>

  <div class="galery">
    <img src="./assets/img/{{ images[imageIndex] }}" />
    <img src="./assets/img/{{ images[imageIndex + 1] }}" />
    <img src="./assets/img/{{ images[imageIndex + 2] }}" />
    <img src="./assets/img/{{ images[imageIndex + 3] }}" />
    <img src="./assets/img/{{ images[imageIndex + 4] }}" />
    <img src="./assets/img/{{ images[imageIndex + 5] }}" />
    <img src="./assets/img/{{ images[imageIndex + 6] }}" />
    <img src="./assets/img/{{ images[imageIndex + 7] }}" />
    <img src="./assets/img/{{ images[imageIndex + 8] }}" />
  </div>
</div>

<footer>
  <p>All rights reserved</p>
</footer>
