img {
  /* width: 100%; */
  object-fit: cover;
  width: 20rem;
  height: 20rem;
}

.galery {
  flex: 2;
  display: grid;
  margin: 5rem;

  /*responsive grid*/
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 0.5rem;
  justify-items: center;
}
